Language: Cpp
BasedOnStyle: Google
IndentWidth: '4'
UseTab: Never
TabWidth: '4'
BreakBeforeBraces: Allman
ColumnLimit: '90'
AccessModifierOffset: '-4'
SortIncludes: false
AllowShortBlocksOnASingleLine: false
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: Never
SpacesBeforeTrailingComments: 2
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: Yes